@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Erica+One&family=Manrope:wght@500&family=Vast+Shadow&display=swap');

html, body {
  min-height: 100%;
  background-image: url("sky.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-attachment: inherit;    
  top: 0px;
  margin: 0px auto;
  padding: 0;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
}

body
{
  background-color: #fcfcfc;
  min-height: 100vh;
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 340px;
  height: 600px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.random-word-title {
  position: absolute;
  margin: auto;
  text-align: center;
  font-family: 'Manrope';
  top: 0;
  right: 0;
  margin-top: 30px;
  left: 0;
  font-size: 18pt;
}

.random-word {
  position: absolute;
  margin: auto;
  text-align: center;
  align-items: middle;
  margin-bottom: 350px;
  font-family: 'Erica One';
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 24pt;
  width: 150px;
  height: 100px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.next-word {
  position: absolute;
  margin: auto;
  text-align: center;
  align-items: middle;
  margin-bottom: 220px;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 24pt;
  width: 150px;
  height: 100px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.guess-word-title {
  position: absolute;
  margin: auto;
  text-align: center;
  top: 0;
  right: 0;
  margin-top: 450px;
  left: 0;
  font-family: 'Manrope';
  font-size: 16pt;
  width: 80%;
  height: 25%;
  border-radius: 15px;
}

.user-input {
  position: absolute;
  margin: auto;
  text-align: center;
  top: 0;
  right: 0;
  font-family: 'Erica One';
  bottom: 0;
  left: 0;
  font-size: 24pt;
  width: 75%;
  height: 50%;
}

.enter-button {
  position: absolute;
  margin: auto;
  text-align: center;
  margin-top: 405px;
  margin-left: 132px;
  font-family: 'Manrope';
  font-size: 12pt;
  width: 75px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.thinking {
  position: absolute;
  margin: auto;
  text-align: center;
  margin-top: -40px;
  font-size: 32pt;
  margin-left: 55px;
}